.MissionControl {
    background-color: black;
    color: white;
    padding: 10px;
}

/* .MissionControl-button {
    border-color: red;
    margin: 5px;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
    
} */

.filterContainer {
    margin-bottom: 1px;
}

.missionContainer {
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardContainer {
    padding: 2px;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 10px;
}