.MissionCard {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: black;
}

/* .MissionCard-body {
    margin: 0px;
    padding: 0px;
    font-size: small;
    margin-bottom: 5px;
} */

/* .MissionCard-body > p {
    padding: 0px;
    margin: 0px;
} */

.MissionCard-title {
    margin-bottom: 20px;
    font-size: medium;
}

.MissionCard-p {
    font-size: small;
    margin-bottom: 2px;
}