/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body {
  background-color: #115ff4;
}

header {
  color: white;
  text-align: center;
}

header > h1 {
  font-size: 3em;
  margin-bottom: 0;
}

#start {
  background-color: purple;
  padding: 1em 3em;
  color: white;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  margin: 0.5em 0;
}

#start.disabled, #start:hover {
  background-color: #74119c;
}

#jeopardy {
  background-color:  #060ce9;
  text-align: center;
  font-size: 12px;
  color: white;
  border-collapse: collapse;
  margin: 0 auto;
}

#jeopardy th, #jeopardy td{
  border: solid 1px white;
  width: 10em;
  padding: 0.5em;
}

#jeopardy td.disabled {
  background-color: #28a200;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  height: 4em;
}

td {
  height: 7em;
  font-weight: bold;
}

button, td {
  cursor: pointer;
}

#spin-container {
  font-size: 12em;
  text-align: center;
  color: white;
  margin: 25px;
  display: none;
}

.fa-question-circle {
  pointer-events: none;
}

.disabled {
  cursor: not-allowed;
}